@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&family=Mulish:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Mulish", sans-serif;
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
  display: inline-block;
  color: #000;
}

img,
svg {
  width: 100%;
}

.container {
  background-color: #322e59;
  padding: 70px;
  border-radius: 60px;
  width: 444px;
  transition: all 0.4s ease;
}

.filter-wrapper .row {
  width: 100%;
}
.filter-wrapper .row:nth-of-type(2) {
  margin-top: 28px;
}
.filter-wrapper .row:nth-of-type(3) {
  margin-top: 32px;
}
.filter-wrapper .row .filter-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.filter-wrapper .row .filter-header .title h1 {
  font-size: 48px;
  font-weight: 700;
  font-family: "Merriweather", serif;
  color: #bcbacf;
}
.filter-wrapper .row .filter-header .modal-closer {
  cursor: pointer;
}
.filter-wrapper .row .filter-header .modal-closer:hover {
  opacity: 0.7;
}
.filter-wrapper .row .subtitle {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #bcbacf;
}
.filter-wrapper .row .filter-search {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #232044;
  padding: 8px 8px 5px 12px;
  margin-top: 6px;
}
.filter-wrapper .row .filter-search .search-box {
  width: 100%;
}
.filter-wrapper .row .filter-search .search-box input {
  width: 100%;
  padding: 12px 0;
  border: 0;
  outline: 0;
  background-color: transparent;
  color: #bcbacf;
  font-size: 18px;
  padding-left: 8px;
}
.filter-wrapper .row .filter-search .search-box input::-moz-placeholder {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #bcbacf;
}
.filter-wrapper .row .filter-search .search-box input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #bcbacf;
}
.filter-wrapper .row .filter-search .search-box input::placeholder {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #bcbacf;
}
.filter-wrapper .row .filter-options .filter-check {
  margin-top: 32px;
}
.filter-wrapper .row .filter-options .options-ws {
  margin-top: 12px;
}
.filter-wrapper .row .filter-options .options-ws:first-child {
  margin-top: 16px;
}
.filter-wrapper .row .filter-options .options-ws label {
  display: flex;
  align-items: center;
  -moz-column-gap: 8px;
       column-gap: 8px;
  color: #bcbacf;
  cursor: pointer;
}
.filter-wrapper .row .filter-options .options-ws label input[type=radio] {
  width: 26px;
  height: 26px;
}
.filter-wrapper .row .filter-options .options-ws label input[type=radio]:checked {
  accent-color: #bcbacf;
}
.filter-wrapper .row .filter-options .options-ws label input[type=checkbox] {
  width: 24px;
  height: 24px;
}
.filter-wrapper .row .filter-options .options-ws label input[type=checkbox]:checked {
  accent-color: #bcbacf;
}
.filter-wrapper .row .filter-btn {
  margin-top: 126px;
}
.filter-wrapper .row .filter-btn button {
  position: relative;
  font-family: "Mulish", sans-serif;
  border: 0;
  outline: 0;
  width: 100%;
  padding: 22px;
  background: #ffbb56;
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  color: #232044;
  cursor: pointer;
  z-index: 1;
  transition: all 0.6s ease;
}
.filter-wrapper .row .filter-btn button::after {
  content: "";
  display: block;
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #7d72b4;
  transition: width 0.525s ease;
}
.filter-wrapper .row .filter-btn button::before {
  content: "";
  display: block;
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  right: 0;
  background-color: #7d72b4;
  transition: width 0.525s ease;
}
.filter-wrapper .row .filter-btn button:hover {
  color: #ffbb56;
  transform: scale(0.95);
}
.filter-wrapper .row .filter-btn button:hover::after, .filter-wrapper .row .filter-btn button:hover::before {
  width: 55%;
  z-index: -1;
}
.filter-wrapper .row .filter-btn button:focus {
  transform: scale(0.9);
}

footer div {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translate(-50%);
  z-index: 1;
}
footer div span {
  margin-left: 4px;
}
footer div span:hover a {
  color: #6a55d1;
}
footer div span a {
  font-family: "Great Vibes", cursive;
  font-size: 1.5rem;
  transition: color 0.4s ease;
}/*# sourceMappingURL=style.css.map */